/* Global CSS Reset */
:root {
  --background: #9595953b;
  --color-base: #333;
  --color-blue-p: #183251;
  --figure-background: #a8a8a8;
  --white-font: #ccc;
  --color-base-footer: #777;

  /* Fontes */
  --font-primary: "Boldonse", sans-serif;
  --font-secondary: "Roboto Mono", monospace;
  --font-title: "Cinzel", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color-base);
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--font-secondary);
}

ul,
ol {
  list-style: none;
}

ul li {
  margin-bottom: 8px;
  padding-left: 10px;
  position: relative;
}

ul li::before {
  content: "\2022"; /* Ponto • */
  color: var(--color-base);
  font-weight: bold;
  display: inline-block;
  width: 10px;
  margin-left: -10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

p {
  color: var(--color-blue-p);
  padding: 0 45px;
  text-indent: 15px;
}

h1 {
  background-image: url("./../Lab_html_simples/img/sobre-background.jpg");
  font-family: var(--font-title);
}

h2 {
  border-bottom: 2px groove var(--color-base);
  margin-top: 30px;
  font-family: var(--font-title);
}

figure {
  background-color: var(--figure-background);
  border: 1px solid var(--white-font);
  text-align: center;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure img {
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
}

figcaption {
  font-style: italic;
  margin-top: 10px;
}

#centro-distribuicao {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 550px;
}

#rodape {
  color: var(--color-base-footer);
  margin: 30px 0;
  padding: 30px 0;
}

#rodape img {
  margin-right: 30px;
  vertical-align: middle;
  width: 94px;
}

#familia-pelho {
  float: right;
  margin: 0 0 10px 10px;
  max-width: 100%;
  height: auto;
}
